@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

@layer utilities {
  p {
    @apply text-gray-300;
  }
  .section-title {
    @apply text-5xl font-bold	leading-snug text-secondaryColor;
  }

  .max-container {
    @apply mx-auto max-w-[1280px];
  }

  .padding-container {
    @apply 3xl:px-0 px-6 lg:px-20;
  }

  .flexCenter {
    @apply flex flex-row items-center justify-center;
  }

  .flexBetween {
    @apply flex flex-row items-center justify-between;
  }

  .flexStart {
    @apply flex flex-row items-center justify-start;
  }

  .flexEnd {
    @apply flex flex-row items-center justify-end;
  }

  .flexColStart {
    @apply flex flex-col items-start justify-center;
  }

  .flexColCenter {
    @apply flex flex-col items-center justify-center;
  }

  .flexColEnd {
    @apply flex flex-col items-end justify-center;
  }

  .flexColBetween {
    @apply flex flex-col items-center justify-between;
  }
  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply text-center text-[40px] font-bold leading-[48px] lg:text-start  lg:text-[56px] lg:leading-[60px]  xl:text-[64px] xl:leading-[74px];
  }

  /* 48 */
  .h2-bold {
    @apply text-center text-[32px]  font-bold leading-[40px] lg:text-start lg:text-[40px] lg:leading-[52px] xl:text-[48px] xl:leading-[56px];
  }

  .h2-medium {
    @apply text-center text-[32px]  font-medium leading-[40px] lg:text-start lg:text-[40px] lg:leading-[52px] xl:text-[48px] xl:leading-[56px];
  }

  /* 36 */
  .h3-bold {
    @apply text-center text-[28px]  font-bold leading-[36px] md:text-[36px] md:leading-[44px] lg:text-start;
  }

  .h3-medium {
    @apply text-center text-[28px]  font-medium leading-[36px] md:text-[36px] md:leading-[44px] lg:text-start;
  }

  /* 32 */
  .h4-medium {
    @apply text-center text-[32px]  font-medium leading-[40px] lg:text-start;
  }

  /* 28 */
  .h5-bold {
    @apply text-center text-[28px]  font-bold leading-[36px] lg:text-start;
  }

  /* 24 */
  .p-bold-24 {
    @apply text-center text-[24px]  font-bold leading-[36px] lg:text-start;
  }

  .p-medium-24 {
    @apply text-center text-[24px]  font-medium leading-[36px] lg:text-start;
  }

  .p-regular-24 {
    @apply text-center text-[24px]  font-normal leading-[36px] lg:text-start;
  }

  /* 20 */
  .p-bold-20 {
    @apply text-center text-[20px]  font-bold leading-[30px] tracking-[2%] lg:text-start;
  }

  .p-semibold-20 {
    @apply text-center text-[20px]  font-semibold leading-[30px] tracking-[2%] lg:text-start;
  }

  .p-medium-20 {
    @apply text-center text-[20px]  font-medium leading-[30px] lg:text-start;
  }

  .p-regular-20 {
    @apply text-center text-[20px]  font-normal leading-[30px] tracking-[2%] lg:text-start;
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-center text-[18px]  font-semibold leading-[28px] tracking-[2%] lg:text-start;
  }

  .p-medium-18 {
    @apply text-center text-[18px]  font-medium leading-[28px] lg:text-start;
  }

  .p-regular-18 {
    @apply text-center text-[18px]  font-normal leading-[28px] tracking-[2%] lg:text-start;
  }

  /* 16 */
  .p-bold-16 {
    @apply text-center text-[16px]  font-bold leading-[24px]  lg:text-start;
  }

  .p-medium-16 {
    @apply text-center text-[16px]  font-medium leading-[24px]  lg:text-start;
  }

  .p-regular-16 {
    @apply text-center text-[16px]  font-normal leading-[24px]  lg:text-start;
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-center text-[14px]  font-semibold leading-[20px] lg:text-start;
  }

  .p-medium-14 {
    @apply text-center text-[14px]  font-medium leading-[20px] lg:text-start;
  }

  .p-regular-14 {
    @apply text-center text-[14px]  font-normal leading-[20px] lg:text-start;
  }

  /* 12 */
  .p-medium-12 {
    @apply text-center text-[12px]  font-medium leading-[20px] lg:text-start;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0, 86%, 62%, 1;
    --primary-foreground: 0, 89%, 88%, 1;

    --secondary: 227, 25%, 15%, 1;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
